body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.inner-page {
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  min-width: 50px;
  padding: 10px 20px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Главная страница. Слайдер  */

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("img/slide-3.png");
}

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.slide {
  display: none;
}

.slide-button {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 40px;
}

.slider {
  position: relative;
  padding-top: 271px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 1;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* Хедер. Основная навигация */

.main-navigation-wrapper {
  display: flex;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
  margin-right: 10px;
}

.navigation-dropdown:hover .sub-menu {
  display: block;
}

.navigation-dropdown {
  position: relative;
}

.main-navigation-list,
.sub-menu,
.header-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.main-navigation-list li {
  padding-bottom: 18px;
}

.main-navigation-list a {
  display: block;
  margin-top: 23px;
  padding: 7px 14px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.main-navigation-list a:not(.current):hover {
  text-decoration: none;
  color: #000000;

  background-color: #f7f6f8;
  border-radius: 15px;
}

.main-navigation-list a:not(.current):active {
   background-color: #ededed;
   box-shadow: inset 0px 2px 1px 0px #696969;
   border-radius: 15px;
}

.current,
.sub-menu-current {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;

  background-color: #d07058;
}

.current-main-navigation {
  border-radius: 15px;
}

.sub-menu {
  display: none;
}

.sub-menu {
  position: absolute;
  top: 60px;
  left: 7px;
  z-index: 1;

  display: none;
  width: 143px;
  padding: 0;

  background-color: #f8f7f4;
  box-shadow: 2px 10px 20px 5px #56645c;
  border-radius: 5px;
}

.sub-menu li {
  padding-bottom: 3px;
  padding-top: 3px;
}

.sub-menu li:first-child {
  border-bottom: solid 1px #cacac7;
}

.sub-menu .sub-menu-title {
  font-weight: 700;
}

.sub-menu a {
  margin: 0;
  padding: 6px 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  color: #323232;
}

.sub-menu a:not(.current):hover {
  background-color: #fbded8;
  border-radius: 0px;
}

.sub-menu a:not(.current):active {
  color: #000000;

  background-color: #f6b5a5;
  box-shadow: none;
}

/* Не основная навигация */

.header-buttons {
  position: relative;

  display: flex;
  max-width: 267px;
  margin-left: auto;
  padding: 0;
}

.header-buttons li {
  position: relative;

  display: inline-block;
}

.header-buttons a {
  display: block;
  margin-top: 23px;
  padding: 8px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;

  background-color: #a1b4a9;
  border-radius: 30px;
}

.header-buttons a:hover,
.header-buttons a:focus {
  color: #000000;

  background-color: #f8f7f4;
}

/* Поиск */

.button-search {
  display: block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.search-dropdown {
  position: relative;
}

.search-dropdown:hover path,
.search-dropdown:focus path {
  fill: #000000;
}

.search-dropdown:hover .search-form {
  display: block;
}

.search-form {
  display: none;
}

.search-form {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 2;

  padding: 20px 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 3px 5px 25px 3px #56645c;
}

.search-form input {
  display: block;
  width: 310px;
  height: 44px;
  padding-left: 14px;
  box-sizing: border-box;

  font-weight: 700;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-form input:hover {
  padding-left: 13px;

  border: 2px solid #c7c6c5;
}

.search-form input:focus {
  padding-left: 13px;

  font-size: 16px;
  line-height: 24px;

  border: 2px solid #8fbdec;
  outline: none;
}

.search-form input::-webkit-input-placeholder {
  font-weight: 400;
}

.search-form input:-moz-placeholder {
  font-weight: 400;
}

.search-form input::-moz-placeholder {
  font-weight: 400;
}

.search-form input:-ms-input-placeholder {
  font-weight: 400;
}

/* Вход */

.header-buttons .button-login {
  position: relative;
  padding-left: 45px;
}

.button-login::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  background: url("../img/entrance-white.svg") no-repeat;
  background-position: 0 0;
}

.button-login:hover::before,
.button-login:focus::before {
  background: url("../img/entrance.svg") no-repeat;
  background-position: 0 0;
}

.login-dropdown {
  width: 92px;
  position: relative;
}

.login-dropdown:hover .login-form {
  display: block;
}

.login-form {
  display: none;
}

.login-form {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 3;

  padding: 0 20px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 3px 5px 25px 3px #56645c;
}

.login-form input {
  display: block;
  width: 241px;
  height: 44px;
  padding-left: 14px;
  box-sizing: border-box;

  font-weight: 700;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.login-form input:hover {
  padding-left: 13px;

  border: 2px solid #c7c6c5;
}

.login-form input:focus {
  padding-left: 13px;

  font-size: 16px;
  line-height: 24px;

  border: 2px solid #8fbdec;
  outline: none;
}

.login-form input::-webkit-input-placeholder {
  font-weight: 400;
}

.login-form input:-moz-placeholder {
  font-weight: 400;
}

.login-form input::-moz-placeholder {
  font-weight: 400;
}

.login-form input:-ms-input-placeholder {
  font-weight: 400;
}

.wrapper-form-login-links {
  display: flex;
}

.form-login-links a {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 13px;
  line-height: 15px;
  text-decoration: underline;
  color: #323232;

  background-color: #f8f7f4;
}

.form-login-links a:hover {
  color: #e84d37;

  background-color: #f8f7f4;
}

.form-login-links a:active {
  color: #e84d37;

  background-color: #f8f7f4;
}

.entrance-button {
  margin-bottom: 20px;
  margin-right: 16px;

  font-size: 18px;
  line-height: 24px;
}

/* Корзина */

.header-buttons .button-basket {
  position: relative;

  padding-left: 45px;
}

.button-basket::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  background: url("../img/basket.svg") no-repeat;
  background-position: 0 0;
}

.button-basket:hover::before,
.button-basket:focus::before {
  background: url("../img/basket-red.svg") no-repeat;
  background-position: 0 0;
}

.header-buttons-item {
  margin-left: 10px;
}

/* Контакты */

.header-contacts {
  display: block;
}

.header-timetable {
  float: right;
  padding-bottom: 0px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-phone {
  float: right;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/* Основное содержание */

.raspberries {
  width: 560px;
  padding: 20px;
  box-sizing: border-box;

  color: #ffffff;

  background: url("../img/raspberries-background.jpg") repeat;
  background-color: #58051e;
  border-radius: 15px;
}

.raspberries-wrapper {
  position: relative;
}

.raspberries h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.raspberries p {
  margin-bottom: 80px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.button-raspberries {
  position: absolute;
  right: 0px;
  bottom: -75px;

  display: inline-block;

  font-size: 18px;
  line-height: 24px;
}

.chocolate {
  width: 560px;
  padding: 20px;
  box-sizing: border-box;

  color: #ffffff;

  background: url("../img/chocolate-background.jpg") repeat;
  background-color: #482617;
  border-radius: 15px;
}

.chocolate-wrapper {
  position: relative;
}

.chocolate h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.chocolate p {
  margin-bottom: 80px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.button-chocolate {
  position: absolute;
  right: 0px;
  bottom: -75px;

  display: inline-block;

  font-size: 18px;
  line-height: 24px;
}

/* Хиты */

.catalog-hit .catalog-item {
  position: relative;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 37px;
}

/* Преимущества */

.advantages {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 33px;

  color: #323232;

  background: #eee0c3 url("../img/wafer-background.jpg") repeat;
  border-radius: 15px;
}

.advantages-icecream {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.advantages h2 {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #323232;
}

.advantages p {
  width: 540px;
  margin: 0;
  padding-left: 57px;
  padding-top: 26px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.icecream {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
}

.leaf {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
}

.cow {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
}

.fridge {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
}

/* Колонки */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  width: 560px;
  padding: 20px;
  box-sizing: border-box;

  color: #323232;

  background: url("../img/strawberry-background.jpg") repeat;
  background-color: #ffffff;
  border-radius: 15px;
}

.blog-news h3 {
  margin: 0;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 22px;
}

.blog-news a {
  display: block;
  width: 285px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.blog-news a:hover,
.blog-news a:focus {
  color: #e84d37;
}

.newsletter {
  width: 560px;
  padding: 5px;
  box-sizing: border-box;

  background: url("../img/bg-post.svg") no-repeat;
}

.newsletter-wrap {
  position: relative;

  min-height: 210px;
  padding: 20px;
  box-sizing: border-box;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.newsletter p {
  margin: 0;
  margin-bottom: 35px;

  font-size: 16px;
  line-height: 22px;
}

.newsletter-email {
  display: inline-block;
  width: 368px;
  height: 44px;
  margin-right: 9px;
  padding-left: 14px;
  box-sizing: border-box;

  font-weight: 700;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.newsletter-email:hover {
  padding-left: 13px;

  border: 2px solid #c7c6c5;
}

.newsletter-email:focus {
  padding-left: 13px;

  font-size: 16px;
  line-height: 24px;

  border: 2px solid #8fbdec;
  outline: none;
}

.newsletter-email::-webkit-input-placeholder {
  font-weight: 400;
}

.newsletter-email:-moz-placeholder {
  font-weight: 400;
}

.newsletter-email::-moz-placeholder {
  font-weight: 400;
}

.newsletter-email:-ms-input-placeholder {
  font-weight: 400;
}

.button-form {
  position: absolute;
  right: 10px;
  bottom: 43px;

  display: inline-block;

  font-size: 18px;
  line-height: 24px;
}

/* Всплывающее окно */

.modal-feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  width: 477px;
  min-height: 442px;
  padding: 25px;
  padding-top: 15px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 10px;

}

.modal-close {
  position: absolute;
  top: 15px;
  right: 25px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;

  width: 22px;
  height: 3px;

  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback h3 {
  margin: 0;
  margin-bottom: 23px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-input {
  display: block;
  width: 267px;
  min-height: 44px;
  margin-bottom: 20px;
  padding-left: 15px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-input:hover {
  padding-left: 14px;

  border: 2px solid #c7c6c5;
}

.feedback-input:focus {
  padding-left: 14px;

  font-size: 16px;
  line-height: 24px;

  border: 2px solid #8fbdec;
  outline: none;
}

.feedback-input::-webkit-input-placeholder {
  font-weight: 400;
}

.feedback-input:-moz-placeholder {
  font-weight: 400;
}

.feedback-input::-moz-placeholder {
  font-weight: 400;
}

.feedback-input:-ms-input-placeholder {
  font-weight: 400;
}

.feedback-textarea {
  width: 428px;
  min-height: 155px;
  margin-bottom: 25px;
  padding: 5px 15px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-textarea:hover {
  padding: 4px 14px;

  border: 2px solid #c7c6c5;
}

.feedback-textarea:focus {
  padding-left: 14px;

  border: 2px solid #8fbdec;
  outline: none;
}

.feedback-textarea::-webkit-input-placeholder {
  font-weight: 400;
}

.feedback-textarea:-moz-placeholder {
  font-weight: 400;
}

.feedback-textarea::-moz-placeholder {
  font-weight: 400;
}

.feedback-textarea:-ms-input-placeholder {
  font-weight: 400;
}

.button-modal-feedback {
  float: right;

  font-size: 18px;
  line-height: 24px;
}

/* .overlay { */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* z-index: 100; */

  /* width: 100%; */
  /* height: 100%; */
/*  */
  /* background: rgba(99, 115, 106, 0.6); */
/* } */

/* Форма обратной связи */

.feedback {
  position: relative;
  width: 302px;

  color:#323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.feedback h3 {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 3px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 50px;
  padding-bottom: 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.feedback-phone {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 100px;
  padding-bottom: 95px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.phone-number {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.button-feedback {
  position: absolute;
  bottom: 30px;
  left: 25px;

  font-size: 18px;
  line-height: 24px;
}

/* Внутренняя страница. Каталог. Корзина */

.inner-page .basket-dropdown {
  min-width: 118px;
}

.inner-page .basket-dropdown a {
  color: #000000;

  background-color: #f7f6f3;
}

.inner-page .button-basket::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  background: url("../img/basket-red.svg") no-repeat;
  background-position: 0 0;
}

.basket-dropdown:hover .cart-block {
  display: block;
}

.basket-dropdown {
  position: relative;
}

.cart-block {
  display: none;
}

.cart-block {
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 3;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 3px 5px 25px 3px #56645c;
}

.cart-item {
  width: 540px;
  padding: 20px 25px;

  border-bottom: solid 1px #cacac7;
}

.cart-item td:first-child {
  padding-top: 20px;
}

.cart-item a {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cart-close-button {
  position: relative;

  width: 11px;
  height: 11px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.cart-close-button::before,
.cart-close-button::after {
  content: "";

  position: absolute;
  bottom: 18px;
  left: -9px;

  width: 13px;
  height: 1px;

  background-color: #323232;
}

.cart-close-button::before {
  transform: rotate(45deg);
}

.cart-close-button::after {
  transform: rotate(-45deg);
}

.cart-item-image {
  width: 33px;
  border-radius: 50%;
}

.item-title {
  width: 220px;
}

.item-price {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  white-space: nowrap;
}

.item-price-kg {
  color: #999999;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-price {
  margin-bottom: 15px;
  margin-right: 15px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}

.site-button {
  margin-bottom: 20px;
  margin-right: 15px;

  font-size: 18px;
  line-height: 24px;
}

/* Хлебные крошки */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a {
  width: 267px;
  margin-right: 22px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
  content: "»";

  position: absolute;
  left: 61px;
}

/* Основное содержание */

.page-title {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 27px;
}

/* Фильтер */

.filter-form {
  position: relative;

  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 880px;
  margin-bottom: 40px;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-right: 15px;

  border: none;
}

.filter-item legend {
  padding-left: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

/* Сортировка */

.sorting-filter {
  height: 36px;
  width: 193px;
  margin-top: 7px;
  padding-left: 16px;
  padding-bottom: 5px;

  color: #ffffff;

  background-color: rgb(255, 255, 255, 0.2);
  border: none;
  border-radius: 30px;

  cursor: pointer;
}

.sorting-filter:hover {
  color: #323232;
}

/* Цена */

.price-filter {
  width: 220px;
  margin-top: 7px;
}

.range-controls {
  position: relative;

  height: 20px;
  margin-bottom: 15px;
  padding-top: 16px;
  padding-right: 21px;
  padding-left: 21px;

  background-color: rgb(255, 255, 255, 0.2);

  border-radius: 30px;
}

.range-controls .scale {
  height: 4px;

  background: #d1dad3;
}

.range-controls .bar {
  width: 70%;
  height: 4px;

  background: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 33px;
}

.range-controls .toggle-max {
  left: 133px;
}

/*  Жирность */

.radio-wrapper {
  height: 36px;
  width: 416px;
  margin-top: 7px;
  padding-top: 6px;
  box-sizing: border-box;

  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

.filter-radio {
  position: relative;
  padding-left: 45px;
  cursor: pointer;
}

.filter-radio:first-child {
  margin-left: 5px;
}

.radio-indicator {
  position: absolute;
  top: 0;
  left: 15px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.filter-radio input[type="radio"]:checked + .radio-indicator {
  background: url("../img/radio-on.svg");
}

/*  Наполнители */

.checkbox-wrapper {
  height: 36px;
  width: 702px;
  margin-top: 7px;
  padding-top: 6px;
  box-sizing: border-box;

  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 30px;
}

.filter-checkbox {
  position: relative;
  margin-left: 12px;
}

.filter-checkbox:first-child {
  margin-left: 25px;
}

.checkbox-indicator {
  position: absolute;
  top: 0;
  left: -10px;

  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background: url("../img/checkbox-on.svg");
}

/*  Применить */

.button-filter {
  position: absolute;
  bottom: 0;
  right: 20px;

  padding: 7px 27px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-shadow: none;

  background: rgb(255, 255, 255, 0.2);
  box-shadow: none;
  border: 2px solid #ffffff;
}

.button-filter:hover,
.button-filter:focus {
  color: #323232;

  background: #ffffff;
  box-shadow: none;
}

.button-filter:active {
  color: #323232;

  background: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.filter-checkbox {
  position: relative;

  padding-left: 25px;
  padding-right: 12px;

  cursor: pointer;
}

.checkbox-indicator {

}

/* Каталог */

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  position: relative;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list a {
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  color: #ffffff;
}

.catalog-item {
  position: relative;

  width: 267px;
  margin-bottom: 30px;
  margin-right: 26px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  left: 0;
  bottom: 70px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item h3 {
  margin: 0;
  padding: 5px;

  text-align: center;
}

.catalog-item p {
  margin: 0;
  padding: 0;
}

 /*  */

.catalog-item:hover::before {
  content:"";

  position: absolute;
  top: -5px;
  left: -13px;
  z-index: 1;

  width: 293px;
  height: 405px;

  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.1);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.button-catalog {
  display:none;
}

.catalog-item:hover .button-catalog {
  display: block;
}

.button-catalog {
  position: absolute;
  bottom: -45px;
  left: 42px;
  z-index: 2;
  font-size: 18px;
  line-height: 24px;
}

/* Переключатель страниц */

.pagination-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 50px;
}

.pagination-item {
  display: inline-block;
  width: 26px;
  height: 26px;

  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  border-radius: 50%;
}

.pagination-item-current {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item:not(.pagination-item-current):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active {
  color: #323232;

  background-color: #ffffff;
}



/* .prev { */
  /* display: inline-block; */
  /* text-indent: -1000px; */
  /* margin-right: 10px; */
  /* background: url("../img/icon-right-small.svg") no-repeat; */
/* } */

/* .next { */
  /* text-indent: -9999px; */
  /* margin-left: 10px; */
  /* background: url("../img/icon-right-small.svg") no-repeat; */

/* } */

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 5px;

  background-color: rgba(255, 255, 255, 0.2);
}

/* Футер */

.main-footer {
  min-height: 100px;
  margin-top: 30px;
}

.main-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Социальные сети */

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 267px;
  margin: 0;
  padding: 0;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  /* border: 3px solid #c2cec7; */
  /* border-radius: 50%; */
  margin-right: 10px;

  opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
}

/* Инфо */

.footer-info {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 340px;
  padding: 0;
  box-sizing: border-box;

  align-items: center;
}

.footer-info a {
  /* padding-bottom: 2px; */

  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-info a:hover,
.footer-info a:focus {
 color: #ffbc9e;
}

.footer-info a:hover path {
 fill: #ffbc9e;
}

.footer-documents {
  width: 170px;
}

.footer-text {
  width: 170px;
}

.suppliers {
  position: absolute;
  top: 3px;
  left: -23px;

  display: block;
}

/* Копирайт */

.footer-copyright {
  width: 267px;
}

.copyright-text {
  display: block;
  padding-left: 75px;

  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-logo {
  display: block;
  width: 110px;
  height: 37px;

  padding-left: 75px;
}

.footer-social,
.footer-info {
  list-style: none;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
 color: #ffbc9e;
}

.footer-copyright a:focus path {
 fill: #ffbc9e;
}
